<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confessions Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container" style="margin-top: 27vh;">
        <h1 style="color: blueviolet;">Welcome to <i style="color: red;">Priye</i> : Confess to <i style="color: deeppink;">Crush</i> </h1>
        <h4 style="color:chartreuse;">👻 Don't worry you are completely anonymous...!👻</h4>
        <a href="/submit" class="button">Submit a Confession</a>
        <a href="/view" class="button">View Confessions</a>
    </div>
</body>
</html>
